.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/modules.xml
.idea/rego.iml
.idea/vcs.xml
.idea/indexLayout.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/projectSettingsUpdater.xml
dotnet-rego/DotNetRego/bin/Debug/net10.0/DotNetRego.dll
dotnet-rego/DotNetRego/bin/Debug/net10.0/DotNetRego.exe
dotnet-rego/DotNetRego/bin/Debug/net10.0/DotNetRego.pdb
dotnet-rego/DotNetRego/obj/Debug/net10.0/apphost.exe
dotnet-rego/DotNetRego/obj/Debug/net10.0/DotNetRego.AssemblyInfo.cs
dotnet-rego/DotNetRego/obj/Debug/net10.0/DotNetRego.AssemblyInfoInputs.cache
dotnet-rego/DotNetRego/obj/Debug/net10.0/DotNetRego.dll
dotnet-rego/DotNetRego/obj/Debug/net10.0/DotNetRego.pdb
dotnet-rego/DotNetRego/obj/Debug/net10.0/DotNetRego.sourcelink.json
dotnet-rego/DotNetRego/obj/Debug/net10.0/ref/DotNetRego.dll
dotnet-rego/DotNetRego/obj/Debug/net10.0/refint/DotNetRego.dll
dotnet-rego/DotNetRego/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
dotnet-rego/DotNetRego/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
